/* /pagination css */
.pagination li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
  }
  
  .pagination li a {
    display: inline-block;
    margin: 0 11px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #007EC7;
    text-align: center;
    border-radius: 50%;
    color: #007EC7!important;
    transition: .3s ease-in-out;
    margin-top: 6px;
  }
  .pagination li a:hover {
   background:#007EC7 ;
   color: #fafafa!important;
  }