
.product-manage.text-center.text-light.mt-4 a {
    text-decoration: none;
    display: inline-block;
    color: #FFF;
    position: relative;
    right: 19px;
    cursor: pointer;
}
.product-manage.text-center.text-light.mt-4 a h5 span {
    display: inline-block;
    margin: 0 7px;
}
.admin-img img {
    height: 472px;
    position: relative;
    top: 14px;
}
.admin-bg {
    background: url(../../images/onur-binay-SJ2-PNJrjOg-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center 40%;
    position: relative;
    padding-bottom: 93px;
    padding-top: 28px;
    top: 68px;
    text-align: left!important;
}

.heading {
    text-align: center;
    padding: 70px 0;
}
.heading h1 {
    font-weight: 700;
    padding: 12px 0;
}
.heading p {
    color: #767676;
}
.input-inline button {
    margin: 23px 0;
    padding: 14px 47px;
    font-size: 14px;
    color: #56a8d4;
    background: none;
    border: 2px solid #56a8d4;
    border-radius: 81px;
    transition: .3s ease-in-out;
}
.input-inline button:hover {
    margin: 23px 0;
    padding: 14px 47px;
    font-size: 14px;
    color: #FFF;
    background: none;
    border: 2px solid #56a8d4;
    border-radius: 81px;
    background: #07a8ff;
}


  .admin-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #0000006c, #1307074f) !important;
    width: 100%;
    height: 100%;
  }




.product-manage {
    text-align: left;
}

.product-manage a h5 {
    color: #efefef;
    margin: 36px 0;
    position: relative;
    z-index: 999999;
}

.admin-text {
    position: relative;
    z-index: 999999;
}
.input-inline input {
    border: none;
    border-bottom: 1px solid #DDD;
    padding: 5px;
    margin: 10px 0;
    outline: none;
    width: 100%;
    font-size: 14px;
    margin-top: 33px;
}
.input-inline input:focus {
   
    border-bottom: 1px solid rgb(22, 142, 255);
    
}